
<h2>Do you want to know more?</h2>
<h4>Click on below below button to contact our staff, we will be more than happy to answer all your questions:</h4>
<br />
<div class="btn btn-primary glyphicon glyphicon-send">
    <email-link email="greal@wp.pl" message="Send"></email-link>
</div>